@import '_variables.scss';

// font-family: 'Anton', sans-serif;
// font-family: 'Roboto', sans-serif;
// Default STYLES
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    color: $main-color;
}

.wrapper-main {
    background-image: url('../img/background-image.jpg');
    background-size: cover;
    background-position: 50% 40%;
    background-repeat: no-repeat;
    padding: 2rem 0;
    width: 100%;
    height: 100vh;
}

// .wrapper-contact {
//     width: 100%;
//     padding: 2rem;
// }

// .header {
//     width: 100%;
//     margin: auto;
//     height: 30vh;
//     margin-top: 10vh;
//     background-image: url(../img/tape.jpg);
//     background-size: cover;
//     background-repeat: no-repeat;

//     &__title {
//         font-size: 1.5rem;
//         text-align: center;
//         padding-top: 2rem;
//         color: rgb(41, 36, 36);
//         text-transform: uppercase;
//         letter-spacing: 5px;
//         font-family: 'Comforter', cursive;
//         text-shadow: 0px 2px 12px rgba(66, 68, 90, 1);

//     }

// }

.nav {
    font-family: 'Anton', sans-serif;

    &--desktop {
        display: none;
        width: 80vw;
        max-width: 1000px;
        margin: auto;


    }

    &--mobile {
        padding-right: 2rem;

    }

    &__box {
        position: fixed;
        padding: 0.5rem;
        padding-right: 4rem;
        top: 50%;
        left: -100%;
        transform: translateY(-50%);
        background-color: $components-bg-color;
        transition: .3s ease;
        z-index: 100;

        &--active {
            left: 0;
        }
    }

    &__burger-icon {
        position: fixed;
        z-index: 100;
        top: 2rem;
        left: 2rem;
    }

    &__list {


        margin: auto;

        &-item {
            list-style: none;
            padding: 2rem 0;
            cursor: pointer;

            &:hover a,
            &:hover i {
                color: $hover-color;
            }

            a {
                color: $main-color;
                text-decoration: none;
                letter-spacing: 2px;
                transition: .3s;
                text-transform: uppercase;

            }

            i {
                color: $main-color;
                width: 4rem;
                padding: 0 1rem;
                margin-right: 2rem;

            }
        }
    }
}

.splide {
    padding-top: 2rem;

    &__slide img {
        width: 100%;
        height: auto;

    }

    &__slide {
        display: flex;
        justify-content: center;
    }
}



.container {

    margin: auto;
    position: absolute;
    padding-top: 2%;
    z-index: 0;
    top: 15%;
    left: 0;
    right: 0;
    bottom: 15%;
    background-color: $components-bg-color;
    overflow-Y: scroll;
    font-family: 'Roboto'sans-serif;
    overflow-X: hidden;
    box-sizing: content-box;

    &--contact {
        padding: 4rem;
    }




    &__title {
        text-transform: uppercase;
        font-size: 1.8rem;
        padding: 1rem 0;
        letter-spacing: 4px;
        display: flex;
        justify-content: center;
    }

}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    &__socials {
        position: fixed;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4rem;
        background-color: $components-bg-color;


        i {
            color: $main-color;
            padding: .5rem .3rem;
            transition: .3s;
            font-size: 2rem;

            &:hover {
                color: $hover-color
            }
        }
    }
}

@media (max-height:600px)and(orientation:landscape) {
    .nav {
        &__list {
            &-item {
                padding: 1rem;
            }
        }

        &__box {
            transform: translateY(-40%);
        }
    }
}

@media (min-width:576px) {
    .splide {
        &__slide img {
            width: 80%;
            height: auto;




        }

        &__slide {
            display: flex;
            justify-content: center;
        }
    }



    .nav {
        font-size: 1.8rem;

        .hamburger-inner,
        .hamburger-inner::after,
        .hamburger-inner::before {
            width: 40px;
        }
    }

    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        &__socials {

            i {
                padding: 1rem;
                font-size: 2.2rem;

                &:hover {
                    color: $hover-color
                }
            }
        }
    }
}

@media (min-width:900px) {

    .splide {
        &__slide img {
            width: 60%;
            height: auto;

        }

        &__slide {
            display: flex;
            justify-content: center;
        }
    }

    .nav {
        max-width: 1000px;
        margin: auto;

        &--mobile {
            display: none;
        }

        &--desktop {
            display: block;
        }

        &__list {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }

    .container {

        z-index: 0;
        top: 9%;
        left: 0;
        right: 0;
        bottom: 9%;
        background-color: $components-bg-color;
        overflow-Y: scroll;
        font-family: 'Roboto'sans-serif;




    }

    footer {
        &__socials {

            margin-bottom: 6rem;
            padding: 2rem 1rem;
        }
    }
}

@media (min-width:1350px) {

    .splide {
        &__slide img {
            width: 50%;
            height: auto;

        }

        &__slide {
            display: flex;
            justify-content: center;
        }
    }



}